.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
  
}

.btn-group{
    display: flex;
    gap: 50px;
}

.btn{
    color: rgb(31, 30, 30);
}

.active{
    color: #050505;
    border-bottom: 2px solid #000;
}